
#comments {
	padding-top: 2em;
	@extend .hidden-print;

	.comment-list {
		margin: 0;
		padding: 15px 0 20px 0;
		list-style: none;
	}

	.comment-list {
		.comment {
			padding: 4px 0;
			> div {
				padding: 8px 8px 10px 80px; position: relative;
			}
		}
		.odd { background-color: #f5f5f5; }
		.comment-author {
			float: left;
			font-weight: bold;
		}
		.avatar {
			position: absolute;
			left: 10px;
		}
		.comment-meta {
			text-align: right;
			padding-bottom: 10px;
			
			a { font-size: 11px; text-decoration: none; color: #777; }
		}
	}
}



#respond {
	.comment-notes {
		font-size: 0.85em;
		color: lighten($text-color, 15%);
	}
	.required {
		color: $state-danger-text;
	}
	label {
		font-weight: normal;
		display: block;
		margin-bottom: 0;
	}
	input[type="text"],
	textarea {
		@extend .form-control;
		max-width: 300px;
	}
	textarea {
		width: 100%;
		max-width: 600px;
	}
	.form-submit {
		padding-top: 1em;
	}
}
