
html {

}

body {

}

// text selection
::selection {
	background: $primary-color;
	color: #fff;
}

// sr-only
// https://a11yproject.com/posts/how-to-hide-content/
.screen-reader-text {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

// Google map : max-width bug fix
#map_canvas img,
.gmnoprint img,
.gm-style img { max-width: none; }

// Twoobl placeholders
input,
textarea {
	@include tw_placeholder();
}
