
// images
img,
.wp-caption { max-width: 100%; height: auto; }

// Responsive Facebook like box
#fb-root { display: none; }
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
	width: 100%!important;
}



#main {  }


.entry-header {
	padding-bottom: 1em;
	.title {
		font-size: 2em;
	}
}

/* meta */

.meta {
	color: $gray-light;
	font-size: 0.9em;
	a {
		color: inherit;
		text-decoration: underline;
	}
	a:hover {
		color: $gray-dark;
	}
}

.post { padding-bottom: 2em; }

.entry-content {
	@include hyphens();
	
	.read-more { display: block; text-align: right; }
}

.entry-content iframe { max-width: 100%!important; }


/* WP */
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin: 0 20px 5px 0; }
.alignright { float: right; margin: 0 0 5px 20px; }
figure.alignnone { margin-left: 0; margin-right: 0; }

// TODO
.wp-caption {  }
.sticky {  }
.gallery-caption {  }
.bypostauthor {  }


.wp-caption-text {
	text-align: center;
	font-size: $font-size-small;
	padding-top: 0.2em;
	color: $gray-light;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover { color: $gray-dark; }
	}
}


/* Google map : max-width bug fix */

#map_canvas img,
.gmnoprint img { max-width: none; }



/* tags */

.entry-tags {
	color: $gray-light;
	font-size: 0.9em;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		display: inline-block;
		padding: 0.2em;
	}
	a {
		color: inherit;
		text-decoration: underline;
	}
	a:hover {
		color: $gray-dark;
	}
}


// placeholders

input,
textarea {
	@include twoobl_placeholder();
}

