
#top {

}

#header-logo {
	a {
		display: block;
	}
}

#site-desc {
	text-align: center;
	font-size: $font-size-base*2;
	line-height: 1.1em;
	h1, p { margin: 0; font-size: 1em; padding: 0; }
}

#nav-main {

}

.sb-toggle-left {
	font-size: $font-size-h2;
	font-weight: bold;
	width: 50px;
	position: absolute;
	z-index: 4;
	margin: 0;
	padding: 5px;
	cursor: pointer;
	
	&:before { content: '≡'; }
}
