
#mobile-top {
	background-color: $gray-darker;
	color: #ffffff;
	padding: 0.5em 0;
	font-size: 0.9em;
	margin-bottom: $grid-gutter-width / 2;
	a {
		color: inherit;
	}
}

#btn-mobile-menu {
	cursor: pointer;
	padding: 2px;
	display: inline-block;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	> span {
		width: 20px;
		height: 12px;
		display: inline-block;
		position: relative;
		> span {
			display: block;
			margin-top: -1px;
			top: 1px;
			transition-duration: 0.275s;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
			&,
			&:before,
			&:after {
				width: 20px;
				height: 2px;
				background-color: $gray-lighter;
				border-radius: 2px;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease;
			}
			&:before,
			&:after {
				content: "";
				display: block;
			}
			&:before {
				top: 5px;
				transition: opacity 0.125s 0.275s ease;
			}
			&:after {
				top: 10px;
				transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}
	}
	&.active {
		span span {
			transform: translate3d(0, 5px, 0) rotate(135deg);
			transition-delay: 0.075s;
			&:before {
				transition-delay: 0s;
				opacity: 0;
			}
			&:after {
				transform: translate3d(0, -10px, 0) rotate(-270deg);
				transition-delay: 0.075s;
			}
		}

	}
}



#top {

}

#header-logo {
	a {
		display: block;
	}
}

#site-desc {
	text-align: center;
	font-size: $font-size-large;
	line-height: 1.1em;
	h1, p { margin: 0; font-size: 1em; padding: 0; }
}




#nav-main {
	padding-top: 0.5em;
	background-color: $gray-lighter;
	margin-top: $grid-gutter-width;
	a {
		color: inherit;
		text-transform: uppercase;
		@include tw_responsive(font-size, 1.1em, 1em, 0.9em);
	}
	> div > ul {
		text-align: center;
		> li  {
			position: relative;
			display: inline-block;
			float: none;
			> a {
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 10%;
					right: 10%;
					bottom: 0;
					height: 2px;
					background-color: $brand-primary;
					transform: scaleX(0);
					opacity: 0;
					transition: transform 0.16s;
				}
			}
			&[class*="current"] > a,
			> a:hover {
				&:before {
					opacity: 1;
					transform: scaleX(1);
				}
			}

			// sub items
			> ul {
				display: none;
				position: absolute;
				list-style-type: none;
				text-align: left;
				top: 95%;
				left: 0;
				min-width: 190px;
				margin: 0;
				padding: 0.5em;
				z-index: 2;
				background-color: #FFF;
				box-shadow: 1px 3px 6px rgba(#000, 0.4);

				> li {
					display: block;
					border-bottom: 1px solid $gray-lighter;
					> a {
						display: block;
						text-transform: none;
						font-size: 0.9em;
						padding: 0.3em;
					}
					&:last-child {
						border: none;
					}
				}
			}

			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
}
