
// targeting the given screen size or smaller
/*@include media-breakpoint-down(xs) {
	html[lang] {
		margin-top: 0 !important;
		#wpadminbar {
			display: none !important;
		}
	}
}*/

// print
@media print {
	.d-print-none {
		display: none !important;
	}

	.elementor-section-stretched {
		max-width: 100% !important;
	}
}
