
// placeholder / placeholder with focus
@mixin twoobl_placeholder($color: $input-color-placeholder, $color-hover: rgba($input-color-placeholder, 0.4)) {
	&::-moz-placeholder           { color: $color; opacity: 1; }
	&:-ms-input-placeholder       { color: $color; }
	&::-webkit-input-placeholder  { color: $color; }
	&:focus::-moz-placeholder           { color: $color-hover; }
	&:focus:-ms-input-placeholder       { color: $color-hover; }
	&:focus::-webkit-input-placeholder  { color: $color-hover; }
}



// Homothetic background image size.
// http://www.redpik.net/sass/mixin-background-size-qui-ne-deforme-pas-image/
@mixin homotheticBackgroundSize($img, $size: .5) {
	@if unit($size) == "%" {
		$size: $size / 100%;
	}
	background-size: (image-width($img) * $size) (image-height($img) * $size);
}
