body { overflow-x: hidden; }

#menu-button {
	font-size: 32px;
	font-weight: bold;
	width: 40px;
	position: absolute;
	z-index: 4;
	margin: 0;
	padding: 15px;
	cursor: pointer;
}
#menu-button:before { content: '≡'; }

#navmob {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	z-index: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: #4b4b4d;
	color: #fff;
}
#navmob .menu { margin: 0; padding: 0; }
#navmob .menu li {
	display: block;
	clear: both;
}
#navmob .menu li a {
	display: block;
	color: #fff;
	font-weight: bold;
}
#navmob ul li a:hover { background-color: transparent; }
#navmob ul li a .caret { display: none; }

#navmob .menu > li {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#navmob .menu > li > a {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-size: 1.1em;
	padding: 12px 20px;
}
#navmob .menu > li > a:hover,
#navmob .menu > li > a:focus,
#navmob .menu > li > a:active { color: #fff; background-color: $brand-primary; }

#navmob .dropdown-menu {
	position: relative;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	padding-left: 40px;
	padding-top: 5px;
	float: none;
	z-index: 10;
}

#playground {
	background: #fff;
	display: block;
	position: relative;
	min-height: 100%;
	transform: translate3D(0,0,0);
	-webkit-transform: translate3D(0,0,0);
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	z-index: 2;
}
#check-navmob:checked ~ #playground {
	transform: translate3D(90%,0,0);
	-webkit-transform: translate3D(90%,0,0);
}