// Slideout https://slideout.js.org/
@import "plugins/slideout";

// Fancybox http://fancyapps.com/fancybox/
@import "plugins/fancybox";

// Gravity Forms
/* .gform_button {
	@extend .btn, .btn-primary;
}*/



/*
.wp-pagenavi {
	text-align: center;
	clear: both;
	span, a {
		display: inline-block;
		padding: 0 6px;
		margin: 0 2px;
	}
	.current {
		color: #fff;
		background-color: $brand-primary;
	}
}
*/
