
.search-form {
	label,
	input {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
	}
	.search-field {
		@extend .form-control, .form-control-sm;
		@include tw_placeholder();
		font-weight: normal;
	}
	.search-submit {
		@extend .btn, .btn-outline-primary, .btn-sm;
	}
}
