
#sidebar {

	font-size: 0.85em;
	
	@extend .hidden-print;
	
	.widget {
		margin-bottom: $grid-gutter-width;
		.title {

		}
	}

	// Responsive Facebook like box
	.fb_iframe_widget,
	.fb_iframe_widget span,
	.fb_iframe_widget span iframe[style] {
		width: 100%!important;
	}
}
