
//Media Break-points
$screen-xs: 576px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-xl: 1200px !default;
$screen-diff: 1px !default;

// Default Colors
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 40%) !default; // #666
$gray-light: lighten($gray-base, 80%) !default; // #ccc
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

// Text & Paragraph
$text-color: $gray-dark;

// Brand Colors
$blue: #0034e0 !default;
$purple: #333366 !default;
$pink: #CC3366 !default;
$green: #66CC99 !default;
$yellow: #FFCC33 !default;
$red: #CC0033 !default;

$primary-color: $blue !default;

// Fonts
$font-family-base: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem !default;
$body-color: $text-color !default;
$line-height-base: 1.5 !default;
$font-weight-base: 400 !default;

// Links
$link-color-base: $primary-color !default;
$link-hover-color-base: darken($primary-color, 7%) !default;

//Headings
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base;
