
// bootstrap variables override

$font-size-base: 16px;
$line-height-base: 1.4;
$brand-primary: #34A4A1;
$grid-gutter-width: 40px;
$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 1px;
$input-border-focus: $brand-primary;
$icon-font-path: '../fonts/';



// social media colors http://redpik.github.io/social-media-colors/

$facebook-primary:   #3b5998;
$twitter-primary:    #55acee;
$googleplus-primary: #dd4b39;
$pinterest-primary:  #cd1d1f;
$youtube-primary:    #cc181e;
$instagram-primary:  #3f729b;
$tumblr-primary:     #35465d;
