/*!___                 _     _
|_   _|      ___  ___ | |__ | |
  | |_ __ _ / _ \/ _ \| '_ \| |
  | | V  V ( (_)( (_) | |_) ) |
  |_|\_/\_/ \___/\___/|_.__/|_|
  Benjamin PONGY www.redpik.net

*/



/* Bootstrap variables override */

$font-size-base: 16px;
$line-height-base: 1.4;
$brand-primary: #41B1AF;
$grid-gutter-width: 20px;
$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 1px;


/* Here is bootstrap. https://github.com/twbs/bootstrap-sass */
@import "bootstrap";



/* mixin example */
.btn-twoobl {
	@include button-variant(#fff, darken($brand-primary, 5%), darken($brand-primary, 8%));
	text-transform: uppercase;
}



/* text selection */
::selection { background: $gray-lighter; color: $gray-dark; }
::-moz-selection { background: $gray-lighter; color: $gray-dark; }

/* responsive images, by default */
img { max-width: 100%; height: auto; }

/* Responsive Facebook like box */
#fb-root { display: none; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100%!important; }



.title {
	display: block;
	text-transform: uppercase;
	margin: 0;
	font-size: 1em;
	/* anti aliasing problem with Chrome & Windows? http://css-tricks.com/adding-stroke-to-web-text/ */
	/* -webkit-text-stroke: 0.25px; */
}

.title a { display: block; }






#wrap { padding-top: 2em; }















/* ==========================================================================
   Header
   ========================================================================== */

@import "header";



/* ==========================================================================
   Content
   ========================================================================== */

@import "content";



/* ==========================================================================
   Comments
   ========================================================================== */

@import "comments";



/* ==========================================================================
   Sidebar
   ========================================================================== */

@import "sidebar";



/* ==========================================================================
   Footer
   ========================================================================== */

@import "footer";



/* ==========================================================================
   Media Queries BS3
   ========================================================================== */

/* .visible-lg */
@media (min-width: 1200px) {

}

/* .visible-xs */
@media (max-width: 767px) {

	@import 'mobilenav';
}


