/*!___                 _     _
|_   _|      ___  ___ | |__ | |
  | |_ __ _ / _ \/ _ \| '_ \| |
  | | V  V ( (_)( (_) | |_) ) |
  |_|\_/\_/ \___/\___/|_.__/|_|
  Benjamin PONGY www.redpik.net

*/



/* Bootstrap variables override */

$font-size-base: 13px;
$brand-primary: #41B1AF;
$grid-gutter-width: 20px;



/* Here is bootstrap. https://github.com/twbs/bootstrap-sass */
@import "bootstrap";



/* mixin example */
.btn-twoobl {
	@include button-variant(#fff, darken($brand-primary, 5%), darken($brand-primary, 8%));
	text-transform: uppercase;
}



/* text selection */
::selection { background: $brand-primary; color: #fff; }
::-moz-selection { background: $brand-primary; color: #fff; }

/* responsive images, by default */
img { max-width: 100%; height: auto; }

/* Responsive Facebook like box */
#fb-root { display: none; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100%!important; }



.title {
	display: block;
	text-transform: uppercase;
	/* anti aliasing problem with Chrome & Windows? http://css-tricks.com/adding-stroke-to-web-text/ */
	/* -webkit-text-stroke: 0.25px; */
}






.title a { display: block; }

.entry-content {
	@include hyphens();
}



.entry-content iframe { max-width: 100%!important; }


/* WP */
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin: 0 20px 5px 0; }
.alignright { float: right; margin: 0 0 5px 20px; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* todo */
.wp-caption {  }
.wp-caption-text {  }
.sticky {  }
.gallery-caption {  }
.bypostauthor {  }



/* Google map : max-width bug fix */
#map_canvas img,
.gmnoprint img { max-width: none; }



