
@import "variables";
@import "bootstrap/variables";

.debug-twoobl {
	.label {
		font-weight: normal;
		font-size: 12px;
		text-shadow: 0 1px 0 rgba(#000, .5);
	}
	&.debug-bottom {
		position: fixed;
		z-index: 8000;
		left: 5px;
		bottom: 5px;
		
		.label {
			&.visible-xs-inline:after { content: ' (max-width: #{$screen-xs-max})'; }
			&.visible-sm-inline:after { content: ' (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})'; }
			&.visible-md-inline:after { content: ' (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})'; }
			&.visible-lg-inline:after { content: ' (min-width: #{$screen-lg-min})'; }
		}
	}
}
