/*            _       _ _                _
 _ __ ___  __| |_ __ (_) | __  _ __  ___| |_ 
| '__/ _ \/ _` | '_ \| | |/ / | '_ \/ _ \  _|
| | |  __( (_) | (_) | |   ( _| | |(  __/ (_ 
|_|  \___)\__,_|  __/|_|_|\_(_)_| |_\___)\__)
Benjamin PONGY |_| www.redpik.net




 _____
|_   _|      ___  ___ | |__ | |
  | |_ __ _ / _ \/ _ \| '_ \| |
  | | V  V ( (_)( (_) | |_) ) |
  |_|\_/\_/ \___/\___/|_.__/|_|
                                  





* */



body {  }

a { color: #428bca; text-decoration: underline; }
a:hover,
a:focus { color: #2a6496; }

/* selection du texte */
::selection { background: #222; color: #fff; }
::-moz-selection { background: #222; color: #fff; }

/* responsive images, by default */
img { max-width: 100%; height: auto; }



.title {
	display: block;
	text-transform: uppercase;
	/* anti aliasing problem with Chrome & Windows? http://css-tricks.com/adding-stroke-to-web-text/ */
	/* -webkit-text-stroke: 0.25px; */
}



/* Responsive Facebook like box */
#fb-root { display: none; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100%!important; }



/* =============================================================================
   Header
   ========================================================================== */

#top { background-color: #eee; padding: 20px 0; }

#site-desc h1,
#site-desc p { margin: 0; font-size: 1em; margin: 0; }


/* ==========================================================================
   Content
   ========================================================================== */

#main { }

.article header { }
.article footer { }

.title a { display: block; }

.content {


	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.content iframe { max-width: 100%!important; }


/* WP */
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin: 0 20px 5px 0; }
.alignright { float: right; margin: 0 0 5px 20px; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* todo */
.wp-caption {  }
.wp-caption-text {  }
.sticky {  }
.gallery-caption {  }
.bypostauthor {  }



/* Google map : max-width bug fix */
#map_canvas img,
.gmnoprint img { max-width: none; }




.post-pagination { clear: both; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }




/* ==========================================================================
   Footer
   ========================================================================== */

#colophon { }




/* ==========================================================================
   Bootstrap overrides
   ========================================================================== */

a.btn { text-decoration: none; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
