
/* =============================================================================
   Header
   ========================================================================== */

#top { background-color: #eee; padding: 20px 0; }

#site-desc h1,
#site-desc p { margin: 0; font-size: 1em; margin: 0; }



/* ==========================================================================
   Content
   ========================================================================== */

#main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Home
   ========================================================================== */

.home { }



/* ==========================================================================
   Footer
   ========================================================================== */

#colophon { }



/* ==========================================================================
   Media Queries BS3
   ========================================================================== */

/* .visible-lg */
@media (min-width: 1200px) {

}

/* .visible-xs */
@media (max-width: 767px) {

}
